.admonition {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.admonition-title {
  font-weight: 700;
}
/* "attention", "caution", "danger", "error", "hint", "important", "note", "tip", "warning", "admonition" */
.admonition.important,.admonition.attention,.admonition.admonition {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.admonition.note,.admonition.tip,.admonition.hint {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.admonition.warning,.admonition.caution {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.admonition.error,.admonition.danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

#content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
