{% extends 'base.html' %}
{% block content %}


{% if archives %}
<ul>
{% for archive in archives %}
{% if archive_count(archive, None) %}
<li><a href="{{ url_for('archive', year=archive.date.year, mon=archive.date.month) }}">{{ archive.date|datetimetoarchive }}  <span class="badge">{{ archive_count(archive) }}</span>{% if g.user %} <span class="badge">{{ archive_count(archive, 'draft') }}</span>{% endif %}</a></li>
{% endif %}
{% endfor %}
</ul>
{% endif %}


{% endblock %}
