{% import 'helper.html' as helper %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="196x196" href="{{ url_for('static', filename='favicon/favicon-192.png') }}">
    <link rel="icon" type="image/png" sizes="160x160" href="{{ url_for('static', filename='favicon/favicon-160.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96.png') }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='favicon/favicon-64.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16.png') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon/favicon-57.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicon/favicon-114.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon/favicon-72.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicon/favicon-144.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicon/favicon-60.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicon/favicon-120.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicon/favicon-76.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicon/favicon-152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/favicon-180.png') }}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicon/favicon-144.png') }}">
    <meta name="msapplication-config" content="{{ url_for('static', filename='favicon/browserconfig.xml') }} ">
    <!-- ****** faviconit.com favicons ****** -->

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-datepicker3.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/pygment.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/myblog.css') }}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="padding-top: 50px;">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='icon.svg') }}"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if request.endpoint == 'index' %}class="active"{% endif %}><a href="{{ url_for('index') }}">Home</a></li>
            <li {% if request.endpoint == 'post' %}class="active"{% endif %}><a href="{{ url_for('post') }}">Post</a></li>
            <li {% if request.endpoint == 'category' %}class="active"{% endif %}><a href="{{ url_for('category') }}">Category</a></li>
            <li {% if request.endpoint == 'tag' %}class="active"{% endif %}><a href="{{ url_for('tag') }}">Tag</a></li>
            <li {% if request.endpoint == 'archive' %}class="active"{% endif %}><a href="{{ url_for('archive') }}">Archive</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="http://shangxing.me">尚美女<i class="glyphicon glyphicon-heart" style="color: #F00;"></i></a></li>
                <li><a href="http://answ.me">安大哥</a></li>
              </ul>
            </li>
            <li {% if request.endpoint == 'about' %}class="active"{% endif %}><a href="{{ url_for('about') }}">About</a></li>
            <!--
            <li {% if request.endpoint == 'contact' %}class="active"{% endif %}><a href="{{ url_for('contact') }}">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>


            <!--
            <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>

              <ul class="dropdown-menu">
                {% if g.user %}
                    <li><a href="{{ url_for('logout') }}">{{ g.user.username }}</a></li>
                {% else %}
                <form class="navbar-form navbar-right" method="POST" action="{{ url_for('login') }}">
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Sign in</button>
                </form>
                {% endif %}
              </ul>
            </li>
            </ul>
            -->

            {% if g.user %}
            <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('upload') }}">Upload</a></li>
            <li><a href="{{ url_for('new') }}">New</a></li>
            <li><a href="{{ url_for('logout') }}">{{ g.user.username }}</a></li>
            </ul>
            {% else %}
            <form class="navbar-form navbar-right" method="POST" action="{{ url_for('login') }}">
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Sign in</button>
            </form>
            {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        {% block breadcrumb %}
        <ol class="breadcrumb">
            {% for e in g.breadcrumb %}
            {% if loop.last %}
            <li class="active">{{ e.name|safe }}</li>
            {% else %}
            <li ><a href="{{e.url}}">{{ e.name|safe }}</a></li>
            {% endif %}
            {% endfor %}
        </ol>
        {% endblock %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ category|upper }}:</strong> {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
    <div class="container">
        {% block footer %}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p style="text-align:center">&copy; Copyright 2015 by <a href="http://gutianxiao.com/">skyknowsme</a>.</p>
            </div>
        </div>
        {% endblock %}
    </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/post.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ace/ace.js') }}"></script>
    {% block bottomjs%}
    {% endblock %}
  </body>
</html>
