{% extends 'base.html' %}
{% block content %}


{% if categories %}
<ul>
{% for category in categories %}
<li><a href="{{ url_for('category', category=category.name) }}">{{ category.name }} <span class="badge">{{ category_count(category.name) }}</span>{% if g.user %} <span class="badge">{{ category_count(category.name, 'draft') }}</span>{% endif %}</a></li>
{% endfor %}
</ul>
{% endif %}


{% endblock %}
