{% macro render_post(post) -%}
<h1><a href="{{ url_for('post', slug=post.slug) }}">{{post.title}}</a> {% if g.user %}<a href="{{ url_for('edit', postid=post.id) }}" class="h4"><i class="glyphicon glyphicon-edit"></i> </a>{% if post.status == 'draft' %}<a href="{{ url_for('publish', postid=post.id) }}" class="h4"><i class="glyphicon glyphicon-send"></i></a>{% endif %}{% endif %}</h1>
<h5>
    <em>By</em>
    <a href="{{ url_for('index') }}">{{ post.user.showname }}</a>
    <em>in</em>
    <a href="{{ url_for('category', category=post.category.name) }}">{{ post.category.name }}</a>
    <em>on</em>
    <a href="{{ url_for('archive', year=post.publish_date.year, mon=post.publish_date.month) }}">{{ post.publish_date|datetimetostring }}</a>
    <em> with tags:</em>
    {% for tag in post.tags %}
    <a class="label label-default" href="{{ url_for('tag', tag=tag.name) }}"><i class="glyphicon glyphicon-tag"></i> {{ tag.name }}</a>
    {% endfor %}
</h5>
<br/>
<div class="content">
    {{ post.content|markdowntohtml|safe }}
</div>
{%- endmacro %}

{% macro render_edit_post(post, edit=false) -%}
<form action="{% if edit %}{{ url_for('edit', postid=post.id) }}{% else %}{{ url_for('new') }}{% endif %}" method="post" id="post-form">
    {% if edit-%}
    <input type="hidden" value="{{post.id}}" name="id" id="id" />
    {%-endif %}

    <div class="row form-group">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-quote-left"></i></span>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{ post.title }}"/>
                <span class="input-group-addon"><i class="fa fa-quote-right"></i></span>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="input-group">
                <div class="input-group-btn">
                    <button id="category-dropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-list-alt"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {% for category in categories() %}
                        <li><a onclick="$('#category').val('{{category.name}}')">{{ category.name }} <span class="badge">{{ category_count(category.name) }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
                <input type="text" class="form-control" id="category" name="category" placeholder="Category" value="{{ post.category.name }}"/>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="input-group">
                <div class="input-group-btn">
                    <button id="tags-dropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-tags"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {% for tag in tags() %}
                        <li><a href="#" onclick="if ($('#tags').val().length == 0){$('#tags').val('{{tag.name}}');}else{$('#tags').val($('#tags').val()+', {{tag.name}}');}">{{ tag.name }} <span class="badge">{{ tag_count(tag.name) }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
                <input type="text" class="form-control" id="tags" name="tags" placeholder="Tags" value="{{ tags_to_string(post.tags) }}"/>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="input-group date">
                <input id="publish_date" name="publish_date" type="text" class="form-control" data-provide="datepicker" data-date-orientation="top auto" data-date-format="D, M dd, yyyy" value="{{ post.publish_date|datetimetostring}}"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="input-group">
                <span class="input-group-addon">/post/</i></span>
                <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug" value="{{ post.slug }}"/>

                <div class="input-group-btn">
                    <button id="submit-post" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-send"></i></button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
                    <input type="hidden" name="status" id="status" value="publish"/>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#" onclick="$('#status').val('publish');$('#submit-post i').attr('class', 'glyphicon glyphicon-send');"><i class="glyphicon glyphicon-send"></i> Publish</a></li>
                        <li><a href="#" onclick="$('#status').val('draft');$('#submit-post i').attr('class', 'glyphicon glyphicon-floppy-disk');"><i class="glyphicon glyphicon-floppy-disk"></i> Save</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-md-12 col-lg-12" style="positionr:relative;height:800px;">
            <!--
            <textarea id="content" name="content" style="position:absolute;top:0;left:0;right:0;bottom:0;" placeholder="Blog content">{{ post.content }}</textarea>
            <div class="form-control" rows="16">
            </div>
            -->
            <div id="content" name="content" style="position:absolute;top:0;left:0;right:0;bottom:0;">{{ post.content }}</div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-md-2 col-lg-2 col-md-offset-10 col-lg-offset-10">
            <a id="preview-button" onclick="previewPost('{{url_for('preview')}}');"  role="button" class="btn btn-primary btn-block">Preview</a>
        </div>
    </div>
</form>
<div class="modal fade" id="preview-dialog" tabindex="-1" role="dialog" aria-labelledby="preview-dialog-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="preview-dialog-label">Preview</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}

{% macro render_preview_post(post)-%}
<!-- Modal -->
<h1>{{post.title}}</h1>
<h5>
    <em>By</em>
    <a href="#">{{ g.user.showname }}</a>
    <em>in</em>
    <a href="#">{{ post.category }}</a>
    <em>on</em>
    <a href="#">{{ post.publish_date }}</a>
    <em> with tags:</em>
    {% for tag in string_to_tag_names(post.tags) %}
    <a class="label label-default" href="#"><i class="glyphicon glyphicon-tag"></i> {{ tag }}</a>
    {% endfor %}
</h5>
<br/>
<div class="content">
    {{ post.content|markdowntohtml|safe }}
</div>
{%-endmacro %}
