{% extends 'base.html' %}
{% block breadcrumb %}
{% endblock %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  {% if post %}
    {{ helper.render_post(post) }}
  {% else %}
  <p>This is a simple blog system created by flask and sqlalchemy. Create your first blog via <a href="{{ url_for('new') }}">new</a>.</p>
  {% endif %}
  <hr/>
  <p><a class="btn btn-primary" href="{{ url_for('post') }}">Read more</a></p>
</div>
{% endblock %}
