{% extends 'base.html' %}
{% block content %}


<!--render posts  -->
{% if g.posts %}
{% for post in g.posts %}
{% if loop.first %}
<hr/>
{% endif %}
{{ helper.render_post(post) }}
<br/>
<hr/>
{% endfor %}
{% endif %}

{% if g.pages and g.pages|length > 1 %}
<ul class="pagination pagination-sm">
{% if g.page and g.page.num <= 1 %}
<li class="disabled">
  <a href="#" class="disabled" aria-label="Previous">
    <span aria-hidden="true">&laquo;</span>
  </a>
</li>
{% else %}
<li>
  <a href="{{ request.base_url }}?p={{ g.page.num - 1 }}" aria-label="Previous">
    <span aria-hidden="true">&laquo;</span>
  </a>
</li>
{% endif %}
{% for page in g.pages %}
<li {% if g.page.num == page.num %}class="active"{% endif%}><a href="{{ request.base_url}}?p={{page.num}}">{{ page.num }}</a></li>
{% endfor %}
{% if g.page and g.page.num >= g.pages|length %}
<li class="disabled">
  <a href="#" aria-label="Next">
    <span aria-hidden="true">&raquo;</span>
  </a>
</li>
{% else %}
<li>
  <a href="{{ request.base_url }}?p={{g.page.num + 1}}" aria-label="Next">
    <span aria-hidden="true">&raquo;</span>
  </a>
</li>
{% endif %}
</ul>
{% endif %}
{% endblock %}
