{% extends 'base.html' %}
{% block content %}


{% if tags %}
<ul>
{% for tag in tags %}
<li><a href="{{ url_for('tag', tag=tag.name) }}">{{ tag.name }} <span class="badge">{{ tag_count(tag.name) }}</span>{% if g.user %} <span class="badge">{{ tag_count(tag.name, status='draft') }}</span>{% endif %}</a></li>
{% endfor %}
</ul>
{% endif %}


{% endblock %}
