{% extends 'base.html' %}
{% block breadcrumb %}
{% endblock %}
{% block content %}
<br/>
<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
    <div class="row form-group">
        <label for="exampleInputFile">File input</label>

        <div class="input-group">
            <span class="input-group-addon" id="file-input-url">/</span>
            <input type="file" class="form-control" id="file-input" name="file-input" aria-describedby="file-input-url"/>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-cloud-upload"></i></button>
            </span>
        </div>
    </div>
</form>
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>File Name</th>
            <th>File Size</th>
            <th>Modified</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% if file_list %}
    {% for file in file_list %}
         <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ file_url(file.name) }}">{{ file.name }}</a></td>
            <td>{{ file.bytes }}</td>
            <td>{{ file.last_modified }}</td>
            <td>
               <a href="{{ url_for('remove', path=file.name) }}"><i class="glyphicon glyphicon-remove"></i></a>
               <a href="{{ file_url(file.name) }}"><i class="glyphicon glyphicon-cloud-download"></i></a>
            </td>
        </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}
